# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Algorithms_Labor\Aufgabe1_6499975\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
